# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json
pnpm-lock.yaml

# Production
/build
/dist
/.next/
/out/

# Misc
.DS_Store
*.log
*.txt
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/

# OS
Thumbs.db
.AppleDouble
.LSOverride
